<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meeting Planner</title>
</head>
<body>
<h1>Welcome to the Meeting Planner</h1>
<p>
    This is the demo application for the course
    <em>Django: Getting Started</em>
    on <a href="https://pluralsight.com">Pluralsight</a>
</p>
<a href="{% url 'rooms' %}">Meeting Rooms</a>
<h2>Meetings</h2>
<ul>
    {% for meeting in all_meetings %}
    <li>
        <a href="{% url 'detail' meeting.id %}">
            {{ meeting.title }}
        </a>
    </li>
    {% endfor %}
</ul>

</body>
</html>